{% extends "base.html" %}
{% block content %}
<section id="hero" class="hero section">
  <div class="hero-bg">
    <img src="/static/images/hero-bg-light.webp" alt="">
  </div>
  <div class="container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xxl-11">
        <div class="card border-light-subtle shadow-sm">
          <div class="row g-0">
            <div class="col-12 col-md-6 col-12 col-md-6 d-flex align-content-center flex-wrap">
              <img class="img-fluid rounded-start object-fit-cover" loading="lazy" src="/static/images/signup.png" alt="Welcome back you've been missed!">
            </div>
            <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
              <div class="col-12 col-lg-11 col-xl-10">
                <div class="card-body p-3 p-md-4 p-xl-5">
                  <div class="row">
                    <div class="col-12">
                      <div class="mb-5">
                        <h2 class="text-center">Registration</h2>
                      </div>
                    </div>
                  </div>

                  <div class="row gy-3 overflow-hidden">
                  <form method="POST" action="">
                    {%csrf_token%}
                    {% for field in form%}
                    {{field.label}}
                    {{field}} 
                    {% if field.name == "password1" or field.name == "password2" %}
                    <span id="check" class="bi bi-eye-slash" onclick='fun(this)'></span>

                    {%endif%}
                    <br><br>
                    {% endfor %}
                    <input type="checkbox" name="check" id="check" required>I agree to the terms and conditions
                    <br>
                    <br>
                    <button class="btn btn-dark btn-lg" type="submit" style="background-color: #388da8 !important; border-color: #388da8;">Sign up</button>

                    <div class="row">
                      <div class="col-12">
                        <p class="mb-0 mt-5 text-secondary text-center">Already have an account? <a href="{% url 'login_user' %}" class="link-primary text-decoration-none">Sign in</a></p>
                      </div>
                    </div>
                </form>
                </div>

                <script>
                  function fun(btn){
                      btn.classList.toggle("bi-eye-slash")
                      btn.classList.toggle("bi-eye")
      
                      var pswd = document.getElementById("id_password1");
                      var y =document.getElementById("id_password2");
                      
                      if(pswd.type == "password")
                      {
                          pswd.type = "text"
                      }
                      else{
                          pswd.type="password"
                      }
                      if(y.type == "password")
                      {
                          y.type = "text"
                      }
                      else{
                          y.type="password"
                      }
      
                  }
      
              </script>

                  <!-- <form action="#!">
                    <div class="row gy-3 overflow-hidden">
                      <div class="col-12">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name" required>
                          <label for="firstName" class="form-label">First Name</label>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" name="lastName" id="lastName" placeholder="First Name" required>
                          <label for="lastName" class="form-label">Last Name</label>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-floating mb-3">
                          <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
                          <label for="email" class="form-label">Email</label>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-floating mb-3">
                          <input type="password" class="form-control" name="password" id="password" value="" placeholder="Password" required>
                          <label for="password" class="form-label">Password</label>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" name="iAgree" id="iAgree" required>
                          <label class="form-check-label text-secondary" for="iAgree">
                            I agree to the <a href="#!" class="link-primary text-decoration-none">terms and conditions</a>
                          </label>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="d-grid">
                          <button class="btn btn-dark btn-lg" type="submit" style="background-color: #388da8 !important; border-color: #388da8;">Sign up</button>
                        </div>
                      </div>
                    </div>
                  </form> -->
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Pills content -->
{% endblock %}